<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/cssform/bootstrap.min.css" rel="stylesheet">
    <link href="/static/cssform/style.css" rel="stylesheet">

        <style>
        .serverlist {
            position: absolute;
            z-index: 3;
            top: 10%;
            left: 10%;
            width: 80%;
            max-height: 80%;
            border: 5px solid #CCC;
            text-align: center;
            font-size: 10px;
            display: none;
            background-color: white;
            overflow: auto;
            _height: expression(this.scrollHeight > 456 ? "456px" : auto);
        }


         .div_catalog{
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            max-height: 100%;
            border: 5px solid #CCC;
            text-align: center;
            font-size: 10px;
            display: none;
            background-color: black;
            opacity: 0.5;
            overflow: auto;
            _height: expression(this.scrollHeight > 456 ? "456px" : auto);
        }
        </style>
</head>

<body style="background-color: white; " >
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="input-group">
                            <input type="text" placeholder="Search software " class="input form-control">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                            </span>
                        </div>
                        <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <span class="pull-right small text-muted">23 Elements</span>
                            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> 软件列表</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> 操作结果</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>

                                            {% for listSoftware in softwareList %}
                                                <tr>
                                                <td class="client-avatar">
                                                    <input name="Fruit" type="checkbox" value="" />
                                                </td>
                                                <td><a data-toggle="tab" href="#contact-1" class="client-link">{{ listSoftware.0 }}</a></td>
                                                <td>
                                                    <select style="background-color:  #ff8F59 ; color: white ;border: hidden" aria-controls="editable" data-dt-idx="0" tabindex="0" name="Range{{ listSoftware.0 }}" id="Range{{ listSoftware.0 }}">
                                                        <option value=1 selected="selected">CLUSTERING</option>
                                                        <option value=2 >SINGLE</option>
                                                    </select>
                                                </td>
                                                <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                                <td>
                                                    <select style="background-color:  #1ab394 ;border: hidden;  color: white" aria-controls="editable" data-dt-idx="0" tabindex="0" name="Style{{ listSoftware.0 }}" id="Style{{ listSoftware.0 }}">
                                                        <option value=1 selected="selected" >install</option>
                                                        <option value=2 >update</option>
                                                        <option value=3 >remove</option>
                                                    </select>
                                                </td>
                                                <td class="client-status">
                                                    <button onclick="buttonFunction('{{ listSoftware.0 }}' , '{{ listSoftware.1 }}')" type="button" style="background-color:#FF7575 ;border: hidden;  color: white">DONE</button>
                                                </td>
                                            </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                        <div style="float: right" class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button previous disabled" id="editable_previous">
                                                    <a href="#" aria-controls="editable" data-dt-idx="0" tabindex="0">Previous</a>
                                                </li>
                                                <li class="paginate_button active">
                                                    <a href="#" onclick="clickA(this)" aria-controls="editable" data-dt-idx="2" tabindex="0">1</a>
                                                </li>
                                                <li class="paginate_button active">
                                                    <a href="#" onclick="clickA(this)" aria-controls="editable" data-dt-idx="2" tabindex="0">2</a>
                                                </li>
                                                <li class="paginate_button active">
                                                    <a href="#" onclick="clickA(this)" aria-controls="editable" data-dt-idx="2" tabindex="0">3</a>
                                                </li>
                                                 <li class="paginate_button active">
                                                    <a href="#" onclick="clickA(this)" aria-controls="editable" data-dt-idx="2" tabindex="0">4</a>
                                                </li>

                                                <li class="paginate_button next disabled" id="editable_next">
                                                    <a href="#" onclick="upDpwn('{{ ThingsInformation.pageNow }}' , 'down')" aria-controls="editable" data-dt-idx="7" tabindex="0">Next</a>
                                                </li>

                                                <li class="paginate_button" id="editable_next">
                                                    <select style="background-color:  #1ab394 ; color: white" aria-controls="editable" data-dt-idx="0" tabindex="0" name="statu" id="selectPortSize">
                                                        <option value=10 selected="selected">默认显示7行</option>
                                                        <option value=1 >调整显示1行</option>
                                                        <option value=5 >调整显示5行</option>
                                                        <option value=6 >调整显示6行</option>
                                                        <option value=7 >调整显示7行</option>
                                                        <option value=8 >调整显示8行</option>
                                                        <option value=9 >调整显示9行</option>
                                                        <option value=10 >调整显示10行</option>
                                                        <option value=11 >调整显示11行</option>
                                                        <option value=12 >调整显示12行</option>
                                                        <option value=13 >调整显示13行</option>
                                                        <option value=14 >调整显示14行</option>
                                                        <option value=15 >调整显示15行</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody id="softwareResult">
                                            <tr>
                                                <td><a data-toggle="tab" href="#company-1" class="client-link">软件名</a></td>
                                                <td>运行状态</td>
                                                <td><i class="fa fa-flag"></i> 安装版本</td>
                                                <td>安装结果</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-1" class="tab-pane active">
                                <div class="row m-b-lg">
                                    <div class="col-lg-8">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                class="fa fa-envelope"></i> 更新记录
                                        </button>
                                    </div>
                                </div>
                                <div class="client-detail">
                                <div class="full-height-scroll">
                                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>client用户安装vim软件
                                                </p>
                                                <span class="vertical-date small text-muted"> 2017-4-10 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>mst用户安装gcc软件
                                                </p>
                                                <span class="vertical-date small text-muted"> 2017-4-9 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-bolt"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>mst用户更新mysql软件
                                                </p>
                                                <span class="vertical-date small text-muted"> 2017-4-9 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-warning"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>client用户安装了mysql
                                                </p>
                                                <span class="vertical-date small text-muted"> 2017-4-8 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>client用户更新了zabbix
                                                </p>
                                                <span class="vertical-date small text-muted"> 2017-4-7 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>client用户安装了zabbix
                                                </p>
                                                <span class="vertical-date small text-muted"> 2017-4-6 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {#                软件安装时选择主机列表#}
        <div id="serverlist_detail" class="serverlist">
            <table class="table table-bordered white-bg">
                    <thead>
                        <tr>
                            <th style="text-align: center" id="selectCheck"><a href="javascript:selectAll()">全选</a></th>
                            <th>hostname</th>
                        </tr>
                    </thead>
                    <tbody id="server-list">
                    {% for server in serverList %}
                        <tr><td width="20%" style="text-align: center"><label><input type="checkbox" value="{{ server }}" name = "pome" /></label> </td><td width="80%" style="text-align: left">{{ server }}</td></tr>
{#                        {{ server }}#}
                    {% endfor %}
                    </tbody>
                </table>
                <div id="installState" style="margin: 0px 25px 125px">
                    <input type="button" value="确定" onclick="closeDiv('serverlist_detail' , 'service_show_catalog_back' , '0')"/>
                    <input type="button" value="取消" onclick="closeDiv('serverlist_detail' , 'service_show_catalog_back' , '1')" />
                </div>
        </div>
        <div id="service_show_catalog_back" class="div_catalog" style="width: 100% ; height: 100%;">
        </div>


        <div id="ld" style=" display: none ;position:absolute; left:-1px; top:1px; width:100%; height:100%; background-color:#FFFFFF; z-index:1000;">
            <div id="center" style="position:absolute;">
                <table border="0">
                    <tr><td><span id="disp">页面加载中,请等待...</span></td></tr>
{#                    <tr><td><img src="/common/image/2.gif"></td></tr>#}
                </table>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/static/js/jsform/jquery-2.1.1.js"></script>
    <script src="/static/js/jsform/bootstrap.min.js"></script>
    <script src="/static/js/jsform/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/js/jsform/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/js/jsform/inspinia.js"></script>
    <script src="/static/js/jsform/plugins/pace/pace.min.js"></script>
    <script type="text/javascript">

        var software = '';
        var pathinstall = '';

        function buttonFunction(soft , path){
            if (path != 'state' && path != 'yum') {
                window.location.href = path;
            }else{
                software = soft;
                document.getElementById("serverlist_detail").style.display = "block";
                document.getElementById("service_show_catalog_back").style.display = "block";
            }
        }

        function submitInstall() {
{#            var d = new Date();#}
{#            var str = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();#}
            var id = document.getElementsByName("pome");
            for(var i = 0; i < id.length; i++){
                 if(id[i].checked)
                 break;
                 if(i == id.length-1){
                   alert("请选择主机");
                   return;
                 }
            }
            var radio = document.getElementsByName("pome");
            var val = "";
            for(var i=0;i<radio.length;i++)
            {
                if(radio[i].checked){
                    val = val + radio[i].value.trim() + ',';
                }
            }
            $.ajax({
                type: "post",
                url: "/dealSoftware/",
                data: {'serverlist': val, 'soft': software},
                dataType: "json",
                async: false,
                error: function (event, request, settings) {
                    alert("操作失败,请稍等片刻重新尝试......");
                    return false;
                },
                success: function (data) {
                    alert('操作结束,可通过[操作结果]菜单查看详细信息');
                    $("#softwareResult").html(data);
                }
            });

        }


        function closeDiv(id , id2 , rs){
            document.getElementById(id).style.display="none";
            document.getElementById(id2).style.display="none";
            if (rs == '1'){
                selectNone();
            }else{
                submitInstall();
            }
        }


        function selectAll(){
            var radio = document.getElementsByName("pome");
            var val = "";
            for(var i=0;i<radio.length;i++)
            {
                radio[i].checked=true;
            }
        $("#selectCheck").html("<a href='javascript:selectNone()'>反选</a>")
       }

       function selectNone(){
           var radio = document.getElementsByName("pome");
            for(var i=0;i<radio.length;i++)
            {
                radio[i].checked=false;
            }
        $("#selectCheck").html("<a href='javascript:selectAll()'>全选</a>")
       }
    </script>
</body>
</html>
